<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ name }}'s Portfolio</title>
    <script src="https://kit.fontawesome.com/1690528c5b.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <a href="/">
                    <img src="./static/img/logo.svg" class="nav-logo"/>
                </a>
                <ul id="sidemenu">
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#experience">Work Experience</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="/hobbies">Hobbies</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                    <i class="fas fa-times" onclick="closemenu()"></i>
                </ul>
                <i class="fas fa-bars" onclick="openmenu()"></i>
            </nav>

            <div class="header-text">
                <div class="text-content">
                    <p>Computer Science Student</p>
                    <h1>Hi, I'm <span>{{ name }}</span> <br> from {{ location }}</h1>
                </div>
                <div class="image-container">
                    <img src="https://t4.ftcdn.net/jpg/05/09/59/75/360_F_509597532_RKUuYsERhODmkxkZd82pSHnFtDAtgbzJ.jpg" alt="PROFILE_PICTURE">
                </div>
            </div>
        </div>
    </header>

    <!-----------About Me----------->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="./static/img/me.jpeg">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <p>I am a computer science student who faithfully believes that technology is very powerful and is important for evolution. Developing, innovating and learning is what I do daily. I like to be aware of new technologies and everything new that technology companies create every day.
                        </br>
                        I love being involved in events, courses, workshops, internships and everything that has to do with technology. I like to train my code by participating in programming tournaments and challenge myself solving high-level problems.</p>
                    
                    <!--We can change these tabs to be other categories, like fun facts, coursework, etc-->
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                        <p class="tab-links" onclick="opentab('achievements')">Achievements</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span>Mobile Development</span> <br> Programming language Dart, MYSQL, Firebase.</li>
                            <li><span>Web Development</span> <br> HTML, CSS, PHP, Javascript, MYSQL. Bootstrap. Flask.</li>
                            <li><span>Game Dev</span> <br> C++ (Intermediate) and C# (Beginner)</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>Jan 2023 - May 2023</span> <br> Programmes d'échanges</li>
                            <li><span>Aug 2019 - Dec 2023</span> <br> Computer Science</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="achievements">
                        <ul>
                            <li><span>Jul 2020 - Aug 2021</span> <br> Google Developer Student Club Lead</li>
                            <li><span>Jan 2020 - Jan 2023</span> <br> Microsoft Learn Student Ambassadors</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-----------Experience----------->
    <!-- link your resume, linkedin, github and add your email in the card-->
    <div id="experience">
        <div class="container">
            <h1 class="sub-title">My Experience</h1>
            <div class="divider">
                <div class="col">
                    <div style="padding-top: 50px">
                        <h2 style="color: #4dc4d6; padding-bottom: 10px">SWE Fellow</h2>
                        <p style="color: #e8e7e7;">
                            Worked with the Star Atlas video game team in conjunction with the core SDK which contains all of the tools necessary to connect to the Solana Blockchain. </br>
                            • Developed with C++ and with the computer graphics game engine, Unreal Engine, a web socket integration to get updates of the accounts as they change. </br>
                            • Implemented transaction tracking where all transactions can be tracked and callbacks are available at different stages of the transaction.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="sticky-helper">
                        <div class="card">
                            <p style="padding-bottom: 10px">
                                More detailed info about my experience!
                            </p>
                            <a class="button button-block" href="/">
                                <span class="fa fa-file-alt"></span> Résumé
                            </a>
                            <a class="button button-block" href="https://www.linkedin.com/in/carlos-seda/">
                                <span class="fab fa-linkedin"></span> LinkedIn
                            </a>
                            <a class="button button-block" href="https://github.com/carlosseda-code">
                                <span class="fab fa-github"></span> GitHub
                            </a>
                            <p>
                                If you want to know more, email me at
                                <a href="/" style="color: #4dc4d6; text-decoration: none">carlosseda123@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-----------Projects----------->
    <!--Change the github repository links to your project repo links-->
    <div id="projects">
        <div class="container">
            <h1 class="sub-title">My Projects</h1>
            <div class="projects-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Smart Industry</h2>
                    <p>The application was developed using Flutter, and it has two main APIs: firebase and syncfusion.
                        It sends 'missions' to the devices that are running ROS. Through the use of state machines, these devices perform tasks while sending mission status and updates to the application.</p>
                    <a href="https://devpost.com/software/smart-industry" target="_blank"><i class="fa-brands fa-github"></i> DevPost Link</a>
                </div>
                <div>
                    <i class="fa-solid fa-crop-simple"></i>
                    <h2>CryptoChecker</h2>
                    <p>Allows you to check the prices of cryptocurrencies directly from the terminal. Also, it allows users to add flags and customize the query result in a dynamic and easy way.</p>
                    <a href="https://github.com/carlosseda-code/CryptoChecker" target="_blank"><i class="fa-brands fa-github"></i> GitHub Repository</a>
                </div>
                <div>
                    <i class="fa-brands fa-app-store"></i>
                    <h2>Facemask Detector</h2>
                    <p>Detects the facemasks in the images, using the custom vision API (Cognitive Services)</p>
                    <a href="https://github.com/carlosseda-code/FaceMaskDetector" target="_blank"><i class="fa-brands fa-github"></i> GitHub Repository</a>
                </div>
            </div>
        </div>
    </div>

    <!-----------Contact----------->
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fas fa-envelope"></i> carlosseda123@gmail.com</p>
                    <p><i class="fas fa-paper-plane"></i> a00827514@tec.com</p>
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/carlos-seda/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/cs020301" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/carlosseda-code" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <div class="contact-right">
                   <form name="submit-to-google-sheet">
                       <input type="text" name="Name" placeholder="Your Name" required>
                       <input type="email" name="Email" placeholder="Your Email" required>
                       <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                       <button type="submit" class="btn">Submit</button>
                   </form>
                   <span id="msg"> </span>
                </div>
            </div>
        </div>
    </div>

    <!-----------Footer----------->
    <div class="footer">
        <p>Made by {{ name }} <i class="fa-solid fa-heart"></i></p>
    </div>

<script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");

    function opentab(tabname) {
        for (tablink of tablinks) {
            tablink.classList.remove("active-link")
        }

        for (tabcontent of tabcontents) {
            tabcontent.classList.remove("active-tab")
        }

        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
    }
</script>

<script>
    var sidemenu = document.getElementById("sidemenu");

    function openmenu() {
        sidemenu.style.right = "0";
    }

    function closemenu() {
        sidemenu.style.right = "-200px";
    }
</script>

<script>
    const scriptURL = '<SCRIPT URL>'
    const form = document.forms['submit-to-google-sheet']
    const msg = document.getElementById('msg')
        form.addEventListener('submit', e => {
        e.preventDefault()
        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            msg.innerHTML = "Message sent successfully!"
            setTimeout(function() {
                msg.innerHTML = ""
            }, 5000)
            form.reset()
        })
        .catch(error => console.error('Error!', error.message))
    })
</script>

</body>
</html>
